pepTrans[[:space:]]weight/Virtual[[:space:]]alanine[[:space:]]scanning/*.h5 filter=lfs diff=lfs merge=lfs -text
test[[:space:]]dataset/Peptide[[:space:]]Binding[[:space:]]Residues/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Binary[[:space:]]pepPIs[[:space:]]prediction/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Binding[[:space:]][[:space:]]Affinity/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Generalizability/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Peptide[[:space:]]Binding[[:space:]]Residues/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Peptide[[:space:]]PBD[[:space:]]Prediction/PDZ/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Peptide[[:space:]]PBD[[:space:]]Prediction/PTB/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Peptide[[:space:]]PBD[[:space:]]Prediction/PTP/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Peptide[[:space:]]PBD[[:space:]]Prediction/SH2/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Peptide[[:space:]]PBD[[:space:]]Prediction/SH3/*.h5 filter=lfs diff=lfs merge=lfs -text
pepTrans[[:space:]]weight/Peptide[[:space:]]PBD[[:space:]]Prediction/TK/*.h5 filter=lfs diff=lfs merge=lfs -text
